<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GitLink.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Mirror.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <GitLink.Properties.Settings>
            <setting name="Source" serializeAs="String">
                <value>C:\GitLink_Source_Directory</value>
            </setting>
            <setting name="Target" serializeAs="String">
                <value>C:\GitLink_Target_Directory</value>
            </setting>
            <setting name="Exclude" serializeAs="String">
                <value>.git|private</value>
            </setting>
        </GitLink.Properties.Settings>
        <Mirror.Properties.Settings>
            <setting name="Source" serializeAs="String">
                <value>C:\EnoSolution</value>
            </setting>
            <setting name="Target" serializeAs="String">
                <value>D:\EnoSolution</value>
            </setting>
            <setting name="Exclude" serializeAs="String">
                <value>.git|Files</value>
            </setting>
        </Mirror.Properties.Settings>
    </userSettings>
</configuration>